---
import Layout from "../layouts/layout.astro";

// import { render } from "../components/test/ssr-render.js";

// const html = `<!doctype html>
// <html lang="en">
// <body>
//    <main-component></main-component>
// </body>
// </html>`;

// const result = await render(html, [
//   () => import("../components/test/examples.ts"),
// ]);

// console.log(result);
---

<script>
  import "../components/test/examples";
  // const asyncRegister = async () => {
  //   await import("../components/test/examples.ts");
  // };
  // setTimeout(() => {
  //   asyncRegister();
  // }, 2000);

  // let test = document.getElementById("test");
  // test.getAttribute("data-test");

  // const component = document.querySelector("my-component");
  // let num = 20;

  // const test = () => {
  //   if (num === 0) {
  //     return;
  //   }
  //   num = num - 1;
  //   component.setAttribute("prop1", num.toString());
  //   setTimeout(test, 100);
  // };

  // setTimeout(test, 100);
</script>

<Layout title="start">
  <body>
    <h1>test renderer</h1>
    <!-- <Fragment set:html={result} /> -->
    <main-component></main-component>
  </body>
</Layout>
